<ion-header>
    <ion-toolbar>
				<ion-grid fixed>
					<ion-row>
						<ion-col size="1">
							<img class="logo-header" src="./assets/logo-white.png"/>
						</ion-col>
						<ion-col size="2"></ion-col>
						<ion-col size="6">
							<ion-title class="header-tittle">
								TRUSTy
							</ion-title>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-toolbar>
</ion-header>
<ion-button color="secondary" expand="block" shape="round" size="large" slot="end">
  <label for="file-upload" class="upload">
    Upload file
  </label>
</ion-button>
<input id="file-upload" type="file" style="display: none;"/>
<ion-content></ion-content>
